@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quattrocento&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
	background-color: #262626;
	min-height: 100vh;
	scroll-behavior: smooth;
}

input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  cursor: pointer;
  background: #EDEDED;
  box-shadow: -405px 0 0 400px #262626;
  border-radius: 50%;
  
}

.blur {
  backdrop-filter: blur(2px);
}
