@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quattrocento&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
	background-color: #262626;
	min-height: 100vh;
	scroll-behavior: smooth;
}

input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  cursor: pointer;
  background: #EDEDED;
  box-shadow: -405px 0 0 400px #262626;
  border-radius: 50%;
  
}

.blur {
  backdrop-filter: blur(2px);
}

.grayscale {
  -webkit-transition : -webkit-filter 500ms linear;
  -webkit-filter: brightness(50%) grayscale(100%);
  /* filter: grayscale(100); */

}

.grayscale:hover {
  -webkit-filter: brightness(100%) grayscale(0%);
}
